[
%% 服务器配置
{game_env, [
    % 游戏id
    {guid, 207},

    % 游戏名称
    {name, qylh},

    % 平台名称
    {plat, baize},

    % 平台id [10-99]
    {puid, 10},

    % 服务器类型[server | center | cross]
    {type, server},

    % 游戏服id[平台id(2位)+区服id(5位)]
    {suid, 9700001},

    % 服务器地址
    {host, "172.16.191.6"},

    % 游戏服端口[9001-9099]
    {port, 9999},

    % 开服时间
    {opened, {{2021,4,22},{8,8,8}}},

    % 游戏运行 token
    {token, "00f0e38dddbe24b3744778ab879c8f12"},

    % Erlang cookie
    {cookie, "y4OY1!26X2bO*zy%pC$f*M#eWyVf^P%U"},

    % 配置本地管理后台目录，用于生成道具日志等等
    {web_dir, "/root/work/admin"},

    % 中心服
    {center, 'qylh_center_9900001@172.16.191.6'},

    % 管理后台地址
    {admin_host, ""},

    % 请求后台的Key
    {admin_key, "G&D7aXA^rSz42HqCC8khy1St1wv62115"},

    % 君海日志上传url
    {junhai_upload, ""}
]},

{mnesia, [
    {dir, "data"},
    {dump_log_write_threshold, 100000},
    {no_table_loaders, 100}
]},

{web, [
    % web 端口[9101-9199]
    {port, 9101}
]},

{log, [
    {virtual_host, <<"xw_qylh">>},
    {rabbit_host, "172.16.191.5"},
    {username, <<"xw_admin">>},
    {password, <<"6oU^4q9zI64u">>}
]},

{kernel, [
    {inet_dist_listen_min, 9201},
    {inet_dist_listen_max, 9299},
    {shell_history, true}
]},

{sasl, [
    {errlog_type, error}
]},

{lager, [
    {suppress_application_start_stop, true},

    {colored, true},

    {crash_log, "crash.log"},

    % 日志根目录
    {log_root, "log"},

    {handlers, [
        {lager_console_backend, [{level, info}]},

        {lager_file_backend, [
            {file, "debug.log"},
            {size, 0},
            {rotator, lager_rotator_daily},
            {level, debug},
            {formatter_config, [
                severity, "|",
                date, " ", time, "|",
                pid, "|",
                module, "|",
                line, "|",
                message, "\n"
            ]},
            {date, "$D0"},
            {count, 7}
        ]},

        {lager_file_backend, [
            {file, "info.log"},
            {size, 0},
            {rotator, lager_rotator_daily},
            {level, '=info'},
            {formatter_config, [
                severity, "|",
                date, " ", time, "|",
                pid, "|",
                module, "|",
                line, "|",
                message, "\n"
            ]},
            {date, "$D0"}
        ]},

        {lager_file_backend, [
            {file, "notice.log"},
            {size, 0},
            {rotator, lager_rotator_daily},
            {level, '=notice'},
            {formatter_config, [
                severity, "|",
                date, " ", time, "|",
                pid, "|",
                module, "|",
                line, "|",
                message, "\n"
            ]},
            {date, "$D0"}
        ]},

        {lager_file_backend, [
            {file, "warn.log"},
            {size, 0},
            {rotator, lager_rotator_daily},
            {level, warning},
            {formatter_config, [
                severity, "|",
                date, " ", time, "|",
                pid, "|",
                module, "|",
                line, "|",
                message, "\n"
            ]},
            {date, "$D0"}
        ]},

        {lager_file_backend, [
            {file, "error.log"},
            {size, 0},
            {rotator, lager_rotator_daily},
            {level, error},
            {formatter_config, [
                severity, "|",
                date, " ", time, "|",
                pid, "|",
                module, "|",
                line, "|",
                message, "\n"
            ]},
            {date, "$D0"}
        ]},

        {lager_file_backend, [
            {file, "fatal.log"},
            {size, 0},
            {rotator, lager_rotator_daily},
            {level, emergency},
            {formatter_config, [
                severity, "|",
                date, " ", time, "|",
                pid, "|",
                module, "|",
                line, "|",
                message, "\n"
            ]},
            {date, "$D0"}
        ]}
    ]}
]}

].
